.tag-viewer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 60px;
  width: 60%;
  min-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(17, 17, 26, 0.1);
  border-radius: 8px;
}

.tag {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #AF52DE;
}
