<div style="margin: 30px 20px;">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" style="display: flex; justify-content: space-between;">
    <mat-button-toggle [checked]="true" value="all">Все</mat-button-toggle>
    <mat-button-toggle value="bold">Новые</mat-button-toggle>
    <mat-button-toggle value="italic">Завершенные</mat-button-toggle>
    <mat-button-toggle value="underline">Обсуждаемые</mat-button-toggle>
    <mat-button-toggle value="underline">Социальные</mat-button-toggle>
    <mat-button-toggle value="underline">Дороги</mat-button-toggle>
    <mat-button-toggle value="underline">Благоустройство</mat-button-toggle>
    <mat-button-toggle value="underline">Волонтерство</mat-button-toggle>
    <mat-button-toggle value="underline">Настройки</mat-button-toggle>
  </mat-button-toggle-group>
</div>
