@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/Gilroy-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('assets/fonts/Gilroy-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
