<section class="page-static">
  <app-start-top-side></app-start-top-side>

  <div class="middle-block">
    <div style="width: 480px; text-align: center; margin-left: auto; margin-right: auto;">
      <p class="paragraph">
        Социальный проект направленный на повышений социальной ответственности граждан и улучшения коммуникации между населением
        и органами управления.
      </p>
      <img src="assets/images/start-additional-info.png" alt="image"/>
      <div style="margin: 40px 0;">
        <button routerLink="../../maps" mat-raised-button>
          Хочу участвовать!
        </button>
      </div>
    </div>
  </div>

  <app-start-bottom-side></app-start-bottom-side>
</section>
