<section class="page-start">
  <app-start-top-side></app-start-top-side>

  <div class="middle-block" style="">
    <div style="text-align: center; margin-left: auto; margin-right: auto;">
      <h4>Ваше местоположение:</h4>
      <h3>(Барнаул) Алтайский край</h3>
      <div style="margin: 40px 0;">
        <button mat-raised-button class="left">
          Подтвердить
        </button>
        <button mat-raised-button class="right">
          Изменить регион
        </button>
      </div>
    </div>
  </div>

  <app-start-bottom-side></app-start-bottom-side>
</section>

