.middle-block {
  h3 {
    font-weight: 600;
    font-size: 24px;
    margin: 10px;
  }

  h4 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
  }

  button {
    width: 200px;
    height: 64px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;

    &.left {
      background: #007AFF;
      border-radius: 40px 2px 2px 40px;
      color: white;
    }
    &.right {
      border-radius: 2px 40px 40px 2px;
      border: 1px solid #007AFF;
      color: #007AFF;
    }
  }
}
